{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block sidebar %}
<!-- No sidebar on the about page -->
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1>About Luganda</h1>
            <p>
                Luganda, also known as Ganda, is a beautiful and rich language spoken by millions in Uganda. 
                Learning Luganda opens up a world of cultural understanding and connection. 
                Dive into the rhythm and melody of this language and experience the warmth of Ugandan hospitality.
                Join our community to explore more about Luganda and start your journey towards mastering this incredible language.
            </p>
            <a href="#" class="btn btn-primary m-2">Sign Up</a>
            <a href="#" class="btn btn-secondary m-2">Login</a>
        </div>
    </div>
</div>
{% endblock %}