{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block sidebar %}
<!-- No sidebar on the about page -->
{% endblock %}

{% block content %}
<!-- Add empty lines to move the container below -->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 offset-md-2 text-center custom-offset-right border border-dark p-4 rounded mb-3">
            <h1>About LuGa|Talk</h1>
            <br>
            <p>
                Welcome to Luga|Talk, where the vibrant beats of Luga-flow meet the 
                rich tapestry of Luganda, also known as Ganda, spoken by millions in Uganda.
            </p>
            <p>
                Luga|Talk is more than just a blog; it's a celebration of culture, 
                language,and connection. Just as Luga-flow infuses contemporary 
                hip-hop with traditional Ugandan rhythms, our platform intends to
                also blend the beauty of Luganda with modern storytelling.
            </p>
            <p>
                Discover the rhythm and melody of Luganda as you immerse yourself
                in our community. Whether you're here to learn, connect, or simply
                explore, Luga|Talk invites you to experience the warmthof Ugandan 
                hospitality and embark on a journey of cultural understanding.
            </p>
            <p>
                Join us as we delve deeper into the heart of Luganda and embrace the
                spirit of Luga-flow. Let's journey together towards mastering this 
                incredible language and embracing the diversity it embodies.
            </p>
            <hr class="w-70">
            <a href="#" class="btn btn-outline-success m-2">Sign Up</a>
            <a href="#" class="btn btn-outline-secondary m-2">Login</a>
        </div>
    </div>
</div>
{% endblock %}