{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for blogpost in post_list %}
                <div class="col-md-12 content-section">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="image-container">
                                        {% if "placeholder" in blogpost.featured_image.url %}
                                        <img class="card-img-top" src="{% static '/images/books2.jpg' %}"alt="placeholder image">
                                        {% else %}
                                        <img class="card-img-top" src=" {{ blogpost.featured_image.url }}" alt="{{ post.title }}">
                                        {% endif %}
                                        <div class="image-flash">
                                            <p class="author">Author: {{ blogpost.author }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h2 class="card-title">{{ blogpost.title }}</h2>
                                    <p class="card-text">{{ blogpost.excerpt }}</p>
                                    <hr>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p class="card-text text-muted h6 mb-0">{{ blogpost.created_on }}</p>
                                        <a href="{% url 'blogpost_detail' blogpost.slug %}" class="btn btn-outline-secondary">
                                            Read More <i class="fas fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:6 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
            
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page=1" class="page-link"> &laquo; First</a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> &laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link"> Last &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}