{% extends 'base.html' %}


{% block content %}
<div class="container mt-4 d-flex justify-content-center align-items-center">
    <div class="content-section col-md-12 p-3 rounded">
		<h1>My Blog Posts</h1>
        <br>
		<ul>
		{% for blogpost in blogposts %}
			<li>
				<a href="{% url 'blogpost_detail' blogpost.slug %}">{{ blogpost.title }}</a> 
				&nbsp;|
				{% if user == blogpost.author %}
				<a href="{% url 'blogpost_edit' blogpost.slug %}">Edit</a>
				&nbsp;|
				<a href="{% url 'blogpost_delete' blogpost.slug %}">Delete</a>
				{% endif %} 
			</li>
			<br>
		{% empty %}
			<li>No blog posts yet!</li>
		{% endfor %}
		</ul>

		<h2>Favourite Blog Posts</h2>
        <br>
		<ul>
		{% for blogpost in liked_posts %}
			<li>
				<a href="{% url 'blogpost_detail' blogpost.slug %}">{{ blogpost.title }}</a>
				&nbsp;| By:
				{{ blogpost.author }}
				&nbsp;| <a href="{% url 'remove_favorite' blogpost.id %}">Remove</a>
			</li>
			<br>
		{% empty %}
			<li>No favourite blog posts yet!</li>
		{% endfor %}
		</ul>
		<br>
		<p class="text-center">
			<a href="{% url 'home' %}">Back to blog posts</a>
			&nbsp;| &nbsp;
			<a href="{% url 'profile' %}">View Profile</a>
		</p>

	</div>
</div>

{% endblock content %}