html, body {
    height: 100%;
}

/* On pages that don't scroll fix the footer to the bottom. 
All classes and id's starting with "main-" has this function*/
.main-one-page {
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

.main-bg {
    background-color: #CBCBB6;
}


.navlinks {
    color: white;
    font-weight: 600;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.image-container img {
    height: 200px; /* Define a height to maintain aspect ratio */
    width: 100%;
    object-fit: cover; /* Ensures the image covers the container without stretching */
}


/* Base class for common styles */
.content-section {
    background: rgba(255, 240, 245, 0.4);
    padding: 8px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin-bottom: 20px;
}

.content-section-sidebar {
    background: rgba(233, 210, 217, 0.4);
    padding: 15px;
    border: 2px solid #dddddd;
    border-radius: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-section-two {
    max-height: fit-content;
    overflow-y: auto;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.blogfield {
    min-height: auto; /* Ensure content stability */
}


/* Extend the common styles for form-content-section and add unique styles */
.form-content-section {
    width: 75%;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

/* Make the summernote editor responsive */
.note-editor {
    width: 100%;
    box-sizing: border-box;
}

.note-editing-area .note-editable {
    word-wrap: break-word;
    width: 100%;
    overflow: auto;
}

/* Ensure all form elements are 100% wide */
.form-control {
    width: 100%;
    box-sizing: border-box;
}

.sidebar-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #789262;
    margin-bottom: 1rem;
    text-align: center;
}

.more {
    font-weight: 700;
    color: #188118;
    text-decoration: none;
}

.more:hover {
    font-weight: 700;
    color: #188173;
    text-decoration: underline;
}

.scale {
    width: 100%;
    height: auto;
}

.masthead-text {
    background-color: #445261;
    color: white;
}

/* Default styling for the image */
.custom-responsive-img {
    width: 100%;
    object-fit: cover; /* Ensures the image covers the container without stretching */
}


.blogpost-link {
    text-decoration: none;
    color: #445261;
}

.blogpost-link:hover,
.blogpage-link {
    color: #789262;
}

.blogpost-title {
    margin-top: 5%;
    margin-left: 5%;
}

.blogpost-subtitle {
    margin-left: 5%;
    color: #CBC8B6;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.account-img {
    height: 140px;
    width: 140px;
    margin-right: 20px;
    margin-left: 15px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

/* Make headings responsive */
@media (max-width: 375px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .content-section {
        padding: 4px;
        margin-bottom: 8px;
    }
    
    .card-title {
        font-size: 20px;
    }

    .card-text {
        font-size: 14px;
    }

    .d-flex {
        display: block;
        text-align: left;
    }

    .image-container {
        margin-bottom: 10px;
    }

}



@media (max-width: 1380px) {
    .form-content-section {
        padding: 8px;
    }

    #id_content_iframe {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .custom-responsive-img {
        height: 100%;
    }

}

/* Additional styles for very small screens */
@media (max-width: 320px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }

    .card-title {
        font-size: 18px;
    }

    .card-text {
        font-size: 12px;
    }
}

@media (max-width: 430px) {
    .main-one-page {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    .col-md-9 {
        display: flex;
        flex-direction: column;
    }
    
    .col-md-3 {
        display: flex;
        flex-direction: column;
    }
}

