.sidebar-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #789262; 
    margin-bottom: 1rem;
    text-align: center;
}

.main-bg {
    background-color: #F1F1EA;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

/* Base class for common styles */
.content-section,
.form-content-section {
    background: #ffffff;
    padding: 8px 8px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Ensure the form content section is responsive */
.form-content-section {
    width: 75%;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

/* Make the summernote editor responsive */
.note-editor {
    width: 100%;
    box-sizing: border-box;
}

.note-editing-area .note-editable {
    word-wrap: break-word;
    width: 100%;
    overflow: auto;
}

/* Ensure all form elements are 100% wide */
.form-control {
    width: 100%;
    box-sizing: border-box;
}

.content-section-sidebar {
    margin-top: 20px;
}


.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 25px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 85%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.blogpost-link {
    text-decoration: none;
    color: #445261;
}

.blogpost-link:hover,
.blogpage-link {
    color: #789262;
}

.blogpost-title {
    margin-top: 10%;
    margin-left: 5%;
}

.blogpost-subtitle {
    margin-left: 5%;
    color: #CBC8B6;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.account-img {
    height: 140px;
    width: 140px;
    margin-right: 20px;
    margin-left: 15px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  @media (max-width: 1380px) {
    .form-content-section {
        padding: 8px;
    }

    #id_content_iframe {
        width: 100%;
    }
}

