{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section-profile">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>

        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Confirm Account Deletion</legend>
                <p>Are you sure you want to delete your account?</p>
            </fieldset>
            <div class="form-group text-center">
                <button class="btn btn-danger" type="submit">Delete Account</button>
                <a href="{% url 'profile' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
