{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}

{% block sidebar %}
<!-- No sidebar on the about page -->
{% endblock %}

{% block content %}
<div class="container mt-5 pt-4">
    <div class="row justify-content-center">
        <div class="content-section col-md-5 offset-md-3 p-4 rounded">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Welcome!</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group text-center">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                </div>
                <br>
            </form>
            <div class="border-top pt-3 text-center">
                <small class="text-muted">
                    Sign up for your Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now!</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock content %}