{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <div class="content-section p-4 rounded">
                <!-- User Profile Section -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="media">
                            <!-- User Profile Image -->
                            <img class="rounded-circle account-img" 
                                src="{{ user.profile.image.url }}"
                                alt="profile_image">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="media-body">
                            <!-- User Name and Email -->
                            <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
                            <p class="text-secondary">{{ user.email }}</p>
                            <!-- Link to User's Blog Posts -->
                            <a href="{% url 'user_blogposts' %}" class="btn btn-outline-secondary">My Blog Posts</a>
                        </div>
                    </div>
                </div>
                <br>

                <!-- Profile Update Form -->
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Profile Information</legend>
                        <!-- Render User and Profile Forms -->
                        {{ user_form|crispy }}
                        {{ profile_form|crispy }}
                    </fieldset>
                    <div class="form-group text-center">
                        <!-- Submit Button for Profile Update -->
                        <button class="btn btn-outline-secondary" type="submit">Update Profile</button>
                    </div>
                </form>

                <!-- Delete Account Link -->
                <div class="text-center mt-4">
                    <a href="{% url 'delete_account' %}" class="btn btn-danger">Delete Account</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
