{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}

{% block sidebar %}
<!-- No sidebar on the about page -->
{% endblock %}

{% block content %}
    <div class="content-section content-section-register">
        <form method="POST" class="col-md-12 mx-auto">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Our Blog Today!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group text-center">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3 text-center">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="#">Login</a>
            </small>
        </div>
    </div>
{% endblock content %}