{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block sidebar %}
<!-- No sidebar on the 404 page -->
{% endblock %}

{% block content %}
<!-- Main container for the 404 error page -->
<div class="main-one-page text-center">
    <div class="p-5">
        <div class="mask">
            <div class="container d-flex h-100 justify-content-center">
                <div class="text-dark row justify-content-center align-items-center">
                    <div class="col-md-12 offset-md-5 p-5 rounded">
                        <div class="content-section content-section-two">
                            <!-- Heading for the 404 error -->
                            <h1>404 - Page Not Found</h1>
                            <!-- Message indicating the page is not found -->
                            <p>Sorry, the page you are looking for does not exist.</p>
                            <!-- Link to redirect users to the homepage -->
                            <a href="{% url 'home' %}">Go to Homepage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
