{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block sidebar %}
<!-- No sidebar on the 500 page -->
{% endblock %}

{% block content %}
<div class="main-one-page text-center">
    <div class="p-5">
      <div class="mask">
        <div class="container d-flex h-100 justify-content-center">
          <div class="text-dark row justify-content-center align-items-center">
            <div class="col-md-12 offset-md-5 p-5 rounded">
              <div class="content-section content-section-two">
                
                <h1>500 - Internal Server Error</h1>
                <p>Oops! Something went wrong on our end. Please try again later.</p>
                <a href="{% url 'home' %}">Go to Homepage</a>
				
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}