{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block sidebar %}
<!-- No sidebar on the 500 page -->
{% endblock %}

{% block content %}
<div class="container mt-5 pt-5 d-flex justify-content-center align-items-center">
    <div class="content-section mt-5 col-md-10 p-4 rounded text-center ms-auto">

        <h1>500 - Internal Server Error</h1>
        <p>Oops! Something went wrong on our end. Please try again later.</p>
        <a href="{% url 'home' %}">Go to Homepage</a>

    </div>
</div>
{% endblock %}